@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="treatment" name="康护记录" value="${item.treatment}" underline="true"/>
                            <#input id="paymentMethod" name="支付方式" value="${item.paymentMethod}" underline="true"/>
                            @if(item.paymentMethod=='会员卡' && isNotEmpty(item.membershipCard){
                                <#input id="membershipCard" name="会员卡" value="${item.membershipCard}" underline="true"/>
                            }
                            <#input id="paymentAmount" name="支付金额" value="${item.paymentAmount}" underline="true"/>
                            <#input id="memberRating" name="顾客打分" value="${item.memberRating}" underline="true"/>
                            <#input id="foregroundRating" name="前台打分" value="${item.foregroundRating}" />
                </div>

                <div class="col-sm-6">
                            <#input id="technicianRating" name="技师打分" value="${item.technicianRating}" underline="true"/>
                            <#input id="managerRating" name="经理打分" value="${item.managerRating}" underline="true"/>
                            <#input id="status" name="结算状态" value="${item.status}" underline="true"/>
                            <#input id="createTime" name="结算时间" value="${item.createTime}" underline="true"/>
                            <#input id="flag" name="状态" value="${item.flag}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MemberSettlementInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MemberSettlementInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/member/memberSettlement/memberSettlement_info.js"></script>
@}
