<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cebrains.hrc.common.persistence.dao.DeptMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cebrains.hrc.common.persistence.model.Dept">
		<id column="id" property="id" />
		<result column="num" property="num" />
		<result column="pid" property="pid" />
		<result column="pids" property="pids" />
		<result column="simplename" property="simplename" />
		<result column="fullname" property="fullname" />
		<result column="region" property="region" />
		<result column="tips" property="tips" />
		<result column="version" property="version" />
		<result column="is_store" property="isStore" />
		<result column="address" property="address" />
		<result column="appointment_telephone" property="appointmentTelephone" />
		<result column="principal" property="principal" />
		<result column="principal_phone" property="principalPhone" />
		<result column="price_standard" property="priceStandard" />
		<result column="create_time" property="createTime" />
		<result column="flag" property="flag" />
	</resultMap>

</mapper>
