<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cebrains.hrc.common.persistence.dao.MemberHealthRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cebrains.hrc.common.persistence.model.MemberHealthRecord">
        <id column="id" property="id" />
        <result column="member" property="member" />
        <result column="project" property="project" />
        <result column="disease" property="disease" />
        <result column="evaluation" property="evaluation" />
        <result column="remark" property="remark" />
        <result column="department" property="department" />
        <result column="created_by" property="createdBy" />
        <result column="create_time" property="createTime" />
        <result column="flag" property="flag" />
        <result column="survey_info" property="surveyInfo" />
        <result column="evalua_info" property="evaluaInfo" />
        <result column="tcm_survey_info" property="tcmSurveyInfo" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member, project, disease, evaluation, remark, department, created_by AS createdBy, create_time AS createTime, flag, survey_info AS surveyInfo, evalua_info AS evaluaInfo, tcm_survey_info AS tcmSurveyInfo
    </sql>

    <select id="selectAll" parameterType="java.lang.String" resultType="java.util.Map">
SELECT
  DISTINCT m.real_name name,
  m.phone
FROM member m
  LEFT JOIN member_health_record mhr  ON m.id = mhr.member
	where mhr.member is not null
    </select>

    <select id="selectAllByDep" parameterType="java.lang.Integer" resultType="java.util.Map">
SELECT
	mhr.id,
  m.real_name name,
  m.phone,
	mhr.create_time createTime
FROM member m
  LEFT JOIN member_health_record mhr  ON m.id = mhr.member
	where mhr.member is not null and m.clinic =#{depId} order by mhr.create_time DESC
    </select>

    <select id="selectAllToAdd" parameterType="java.lang.String" resultType="java.util.Map">
SELECT
	mhr.id,
  m.real_name name,
  m.phone,
	mhr.create_time createTime
FROM member m
  LEFT JOIN member_health_record mhr  ON m.id = mhr.member
	where mhr.member is not null  order by mhr.create_time DESC
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultType="java.util.Map">
SELECT
  DISTINCT m.real_name name,
  m.phone
FROM member m
  LEFT JOIN member_health_record mhr  ON m.id = mhr.member
	where mhr.member is not null AND m.real_name LIKE CONCAT('%',#{key},'%') OR m.phone LIKE CONCAT('%',#{key},'%')
    </select>

</mapper>
