<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cebrains.hrc.common.persistence.dao.MemberRehabilitationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cebrains.hrc.common.persistence.model.MemberRehabilitationRecord">
        <id column="id" property="id" />
        <result column="member_user" property="memberUser" />
        <result column="department" property="department" />
        <result column="produce" property="produce" />
        <result column="feel" property="feel" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_user AS memberUser, department, produce, feel, create_time AS createTime
    </sql>

</mapper>