<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cebrains.hrc.common.persistence.dao.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cebrains.hrc.common.persistence.model.Project">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="category" property="category" />
        <result column="treatment_course" property="treatmentCourse" />
        <result column="price_treatment_1" property="priceTreatment1" />
        <result column="price_treatment_2" property="priceTreatment2" />
        <result column="price_treatment_3" property="priceTreatment3" />
        <result column="price_once_1" property="priceOnce1" />
        <result column="price_once_2" property="priceOnce2" />
        <result column="price_once_3" property="priceOnce3" />
        <result column="solution" property="solution" />
        <result column="create_time" property="createTime" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, category, treatment_course AS treatmentCourse, price_treatment_1 AS priceTreatment1, price_treatment_2 AS priceTreatment2, price_treatment_3 AS priceTreatment3, price_once_1 AS priceOnce1, price_once_2 AS priceOnce2, price_once_3 AS priceOnce3,solution, create_time AS createTime, flag
    </sql>

    <select id="projectInformationByTreatment" parameterType="java.lang.Integer" resultMap="BaseResultMap">
SELECT *
FROM project p
WHERE exists(SELECT 1
             FROM treatment_detail td
             WHERE td.project_id IS NOT NULL AND td.treatment_id = #{tid} AND td.project_id = p.id)
    </select>
</mapper>
